Package: com.yourcompany.ytdownload
Name: ytdownload
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: steph
Author: steph
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)

